NEO4J_URI= ingrese su valor aca
NEO4J_USERNAME= ingrese su valor aca
NEO4J_PASSWORD= ingrese su valor aca
NEO4J_DATABASE= ingrese su valor aca
AURA_INSTANCEID= ingrese su valor aca  
AURA_INSTANCENAME= ingrese su valor aca

